.footer{
    background-color:  #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    gap: 20.625rem;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
}

.footer-links{
    display: flex;
    gap: 2.5rem;
}

.social-list{
    display: flex;
    gap: 1.25rem;
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}

.social-list a:hover .icon {
    background-color: #F3903D;
}

.icon-instagram {
    -webkit-mask-image: url('../../assets/images/icons/instagram.svg');
    mask-image: url('../../assets/images/icons/instagram.svg');
}

.icon-whatsapp {
    -webkit-mask-image: url('../../assets/images/icons/whatsapp.svg');
    mask-image: url('../../assets/images/icons/whatsapp.svg');
}

.icon-youtube {
    -webkit-mask-image: url('../../assets/images/icons/youtube.svg');
    mask-image: url('../../assets/images/icons/youtube.svg');
}

.icon-x {
    -webkit-mask-image: url('../../assets/images/icons/x.svg');
    mask-image: url('../../assets/images/icons/x.svg');
}

.link-group strong{
    color: #adadad;
    font-size: 1.0625rem;
    margin-bottom: 1rem;
    display: block;
}

.link-group li a:hover{
    text-decoration: underline;
}

.newsletter-box input{
    border-radius: 10px;
    color: #AAAAAA;
    padding: 0.5rem 1.25rem;
}

.newsletter-box button{
    border-radius: 10px;
    padding: 0.5rem 0.625rem;
    cursor: pointer;
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    padding: 1.25rem 0;
    border-top: 2px solid #4d4d4d;
}