.header {
    background-color: #ffffff;
    position: fixed;
    top: 3.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(80% - 4rem);
    max-width: 1260px;
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 1.25rem;
}

.logo img {
    height: 2.8rem;
    transform: translateZ(0);
}

.nav-center{
    margin-left: 2rem;
}

.nav-right{
    margin-left: auto;
}

.nav-center ul, .nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-center a,
.nav-right a {
    color: #27374F;
    font-size: 1.25rem;
}
.nav-center a:hover,
.nav-right a:hover {
    font-size: 1.25rem;
    color:#F3903D;
}
.nav-right img{
    height: 1.5rem;
}
.nav-right a:hover img{
    opacity: 0.5;
}

.nav-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #27374F;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}

.nav-icon-user {
    -webkit-mask-image: url('../../assets/images/icons/user-icon.svg');
    mask-image: url('../../assets/images/icons/user-icon.svg');
}

.nav-icon-help {
    -webkit-mask-image: url('../../assets/images/icons/help-icon.svg');
    mask-image: url('../../assets/images/icons/help-icon.svg');
}

.nav-icon-cart {
    -webkit-mask-image: url('../../assets/images/icons/shopping-cart-icon.svg');
    mask-image: url('../../assets/images/icons/shopping-cart-icon.svg');
}

.nav-right a:hover .nav-icon {
    background-color: #F3903D;
}