.hero {
    background: url(../../assets/images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 540px;
    position: relative;
    background-position: center 79%;
    border-radius: 10px;
}

.hero__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4rem;
}

.hero__content {
    color: var(--color--text-light);
    max-width: 388px;
}

.hero__buttons {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.hero__content .hero__title {
    font-size: 1.87rem;
    margin-bottom: 0.5rem;
    margin: 0 0 0.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.hero__content .hero__subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .hero {
        height: 660px;
        background-image: url(../../assets/images/banners/hero-mobile.jpg);
    }

    .hero__overlay {
        padding: 0;
    }

    .hero__content .hero__title {
        font-size: 1.5rem;
    }

    .hero__content .hero__subtitle {
        font-size: 1.25rem;
    }

    .hero__content {
        max-width: 330px;
        margin: 0 auto;
    }
}