.product-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.product-card--top1 {
    grid-area: top1;
    background-image: url(../../assets/images/products/hero-highligth.jpg);
}

.product-card--top2 {
    grid-area: top2;
    background-image: url(../../assets/images/products/desert-camo.jpg);
}

.product-card--mid-left {
    grid-area: midL;
    background-image: url(../../assets/images/products/modelo-masculino.jpg);
}

.product-card--mid-right {
    grid-area: midR;
    background-image: url(../../assets/images/products/solstice-caramel.jpg);
}

.product-card--bottom-left {
    grid-area: bottomL;
    background-image: url(../../assets/images/products/nomad-olive.jpg);
}

.product-card--bottom-right {
    grid-area: bottomR;
    background-image: url(../../assets/images/products/wave-ridge.jpg);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 18.75rem);
    grid-template-areas:
        "top1 top1 top2 top2"
        "top1 top1 midL midR"
        "bottomL bottomL midL bottomR";
    gap: 1.875rem;
    margin-top: 2.5rem;
}

.product-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color--text-light);
}

.product-card__title {
    color: var(--color--text-light);
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.product-card__subtitle {
    color: var(--color--text-light);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.product-card__cta-group {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "top1 top1"
            "top2 top2"
            "midL midR"
            "midL bottomR"
            "bottomL bottomL";
        max-width: 100%;
        gap: 0.625rem;
    }

    .product-card--top1 {
        min-height: 500px;
    }

    .product-card--mid-left {
        min-height: 370px;
    }

    .product-card--top2,
    .product-card--bottom-left {
        min-height: 190px;
    }
}
